body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  background-color: #4f6522;
  position: relative;
}

.info {
  position: absolute;
  top: 50px;
  left: 250px;  
  width: auto;
}

.info-content {
  background-color: #4f6522;
  padding: 10px;
  box-sizing: border-box;
}

h3.move-counter {
  text-align: left; 
  margin-left: 30px;
  margin-top: 30px;
  padding: 0;
  font-size: 10px;
}

p {
  margin: 5px;
}

span.ital {
  font-style: italic;
}

h1, h2, h3 {
  text-align: center;
  color: white;
}

h3 {
  text-transform: uppercase;
}

.game-board {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
}

.empty {
  width: 70px;
  height: 95px;
  margin: 5px;
  flex-direction: row;
  border: none;  
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 2px; 
  width: 30%; 
  min-height: 150px;
}

.column > .empty {
  margin-bottom: -26px;
}

#column-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px; 
 
}

.column img {
  width: 70px;
  height: 95px;
  margin-top: -70px;
}

#new-game-button,
#undo-button,
#hint-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 10px;
    padding: 2px;
    color: white;
    background-color: #4f6522;
    border: none;
    width: 150px;
    height: 40px;
    position: relative;
}




#new-game-button:hover,
#undo-button:hover,
#hint-button:hover {
  cursor: pointer;
}

#new-game-button:active,
#undo-button:active,
#hint-button:active {
  cursor: pointer;
}

img {
  opacity: 1;
}

img[draggable="true"] {
  opacity: 1;
}


.card.large{
  width: 70px;
  height: 95px;
}